<div class="container-lg">
  <div>
    {{ page.header }}
    <div>
      {{ page.banner }}
    </div>
  </div>
  <div>
    <section class="mt-5 bg-danger bg-opacity-10 rounded p-4">
      <h1 class="text-center">New Collection</h1>
      {{ page.content }}
    </section>
  </div>
</div>
